
{% block title %} This is used {% endblock %}
{% block main_content %}
     <h3>Monitor Report</h3>
     {% with occurrence.event as event %}
     <h4>
       "{{ event }}" " {{  occurrence.event }}"
       <a href="{{ occurrence.event.get_absolute_url }}">{{ occurrence.title }}</a>
     </h4>
     {% endwith %}
     <br/>
     {% with occurrence.start_time as st  %}
       {% with occurrence.end_time as et %}
         {{ st|date:"l, F jS P" }} - {{ et|date:"P" }}
        
	{% endwith %}
	{% endwith %}
	<br/>
	STATUS: {{ occurrence.get_status_display }}
	
     <dl>
         <dt>Event type:</dt>
         <dd>{{ occurrence.event.event_type }}</dd>
         
         <dt>Description:</dt>
         <dd>{{ occurrence.event.description|default:"None" }}</dd>
         
	 {% if occurrence.status == occurrence.COVERED %}
         <dt>Cover Reason:</dt>
         <dd>{{ occurrence.cover_reason|default:"None" }}</dd>	   
	 {% endif %}
         <dt>Note(s:)</dt>
         <dd>
             {% with occurrence.event.notes.all as notes %}
             {% if notes %}
             <ul>
                 {% for note in notes %}
                 <li>{{ note }}</li>
                 {% endfor %}
             </ul>
             {% else %}None
             {% endif %}
             {% endwith %}
         </dd>
     </dl>

     <br/>
SOME REPORT STUFF:
{{ can_report_data }}

     {% if form %}
     <form action="" method="post">
       {% csrf_token %}
     <table>
         <tfoot>
             <tr>
                 <td colspan="2"><input type="submit" value="Check In" /></td>
             </tr>
         </tfoot>
         <tbody>
              {{ form }}
         </tbody>
     </table>
     </form>
     {% else %}
       You cannot sign for this report. You are signed in as {{ user.username }} and the time is {{ currenttime|date:"l, F jS P" }}
     {% endif %}

{% endblock %}
