{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "GGAST Computer Lab" %}</h1>
    <p>
        {% blocktrans %}
	  Welcome to the Gashora Computer Lab homepage.
        {% endblocktrans %}
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
	{% with user.get_profile as profile %}
        <p class="what_next">{#{% blocktrans %}#}Hello {{ profile }}. You can go to your  <a href="{% url studentmonapp.views.userhome %}" class="btn primary large">homepage</a> now to sign in to your duty hours.{#{% endblocktrans %}#}</p>
	{% endwith %}
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn primary large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    <br/>
    Notice any problems with this site? Please contact Ms.Lyla.
{% endblock %}

{% block bottomrow %}
  <div class="span10">
    <h3>MONITOR CALENDAR COMING SOON</h3>
    For now, please look at the computer lab door for the schedule.
  </div>
  <div class="span3">
    
    <h3>Top Techies</h3>
    <ul>
      {%for p in topProfiles%}
	<li><a href="{{p.get_absolute_url}}">{{p}}</a></li>
	{%endfor%}
</ul>
<h3>Tech Masters</h3>

<ul>
      {% for profile in profiles %}
	<li><a href="{{profile.get_absolute_url}}">{{profile}}</a></li>
      {% endfor %}
</ul>
    
  </div>
{% endblock bottomrow %}
